<%= provide(:title, "Create post") %>
<h1>Create Posts</h1>


<%= form_for(:post, url: {action: "create"}) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>

  <%= f.submit "Create Post" %>
<% end %>